* {
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}

body {
    margin-top: 0;
    background-color: black;
}

.card {
    width: 90%;
    max-width: 580px;
    background: linear-gradient(195deg, #1eff92, #0e88c1);
    color: #fff;
    margin: 100px auto 0;
    border-radius: 20px;
    padding: 45px 30px;
    text-align: center;
}

.search {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search input {
    border: 0;
    outline: 0;
    background: #ffffff;
    color: #555;
    padding: 10px 25px;
    height: 60px;
    border-radius: 30px;
    flex: 1;
    margin-right: 16px;
    font-size: 18px;
}

.search input:hover {
    border: 2px solid #06926c;
    background: #f1f3f3dc;
    color: #555555;
}

.title {
    gap: 2em;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin: 0;
    margin-bottom: 40px;
    color: rgb(228, 255, 255);
}

.title img {
    width: 100px;
    border-radius: 300%;
    text-shadow: #5d1ac2;
}

.search button {
    border: 0;
    outline: 0;
    background: white;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    cursor: pointer;
}

.search button:hover {
    cursor: pointer;
    border: 2px solid #01570a;
}

.search button img {
    width: 35px;
}

.weather img {
    width: 80%;
    padding: 2px;
    border-radius: 20%;
}

.weather-icon {
    width: 170px;
    margin-top: 30px;
}

.weather h1 {
    font-size: 60px;
    font-weight: 10;
}

.weather h2 {
    font-size: 25px;
    font-weight: 400;
    margin-top: -10px;
}

.weather img {
    width: 220px;
    padding: 15px;
    margin-top: 25px;
}

.col {
    display: flex;
    align-items: center;
    text-align: left;
    margin: 10px;
}

.col img {
    width: 150px;
    padding: 25px;
    margin: -20px;
    border-radius: 100%;
}

.humidity,
.wind {
    font-size: 25px;
    margin-top: -5px;
}

.details {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    margin-top: 1px;
}

.weather {
    display: none;
}

.error {
    text-align: left;
    margin-left: 10px;
    font-size: 18px;
    margin-top: 10px;
    color: rgb(255, 0, 0);
    display: none;
}